# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lik

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Fedoraware/.vs/Fedoraware/v16/.suo
*.db
*.log
*.tlog
*.pdb
*.iobj
*.ipdb
*.bat
*.ipch
Fedoraware/.vs/Fedoraware/v16/Browse.VC.opendb
Fedoraware/TeamFortress2/Debug/vc142.idb
Fedoraware/Debug/TeamFortress2.ilk
Fedoraware/Debug/TeamFortress2.ilk
*.idb
*.ilk
*.db-wal
*.db-shm
*.db-wal
*.db-shm
*.ilk
*.idb
*.idb
*.txt
*.idb
*.recipe
*.enc
Fedoraware/.vs/Fedoraware/v17/.suo
Fedoraware/Release/sound.wav
*.bin
Fedoraware/Debug/sound.wav
*.sarif
*.xml
*.lastcodeanalysissucceeded
Fedoraware/.vs/Fedoraware/v17/Preview/Browse.VC.opendb
Fedoraware/.vs/Fedoraware/v17/Browse.VC.opendb
/.vs
